version: '3.9'

services:
  backend:
    build: .
    container_name: django-backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    restart: always

  frontend:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    container_name: vue-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
